#barwrapper {
    position: fixed;
    top: 20px;
    right: -350px;
    z-index: 3;
    padding: 10px 12px;
    border-radius: 3px 0 0 3px;
    width: 400px;
    &.solid-left-pane-bg {
        //background: rgba(235, 244, 247, 1);
        background: rgba(112, 148, 170, 1)
    }
    &.faded-left-pane-bg {
        //background: rgba(235, 244, 247, .8);
        background: rgba(94, 73, 43, .8);
    }
    .slider {
        color: $white;
        cursor: pointer;
        &:hover {
            color: rgba(247, 224, 139, .8);
        }
    }
    #langsel {
        display: inline-block;
        z-index: 3;
        margin-left: $spacer;
        a.activelang {
            display: none;
        }
    }
    .button--secondary {
        background: $right-pane-background;
        border-color: $nav-pane-background;
    }
    #col-select {
        color: #F7E08B;
        cursor: pointer;
        margin-left: $spacer;
        &:hover {
            text-decoration: underline;
        }
    }
    /*
    #col-select {
        float: right;
        cursor: pointer;
        top: 20px;
        right: 20px;
        z-index: 1;
        .far, .fas {
            padding: map-get($spacers, 2);
            font-size: $font-size-lg;
        }
        .far {
            color: $nav-pane-background;
            background: rgba($right-pane-background, .8);
        }
        .fas {
            color: $right-pane-background;
            background: rgba($white, .8);
        }
    }
    */
}