.content-sub-desc, .content {
    table {
        width: 100%;
        overflow-x: auto;
        padding-bottom: $spacer * 2;
        tr {
            border-bottom: 1px solid #ccc;
            &:nth-child(even) {
                background-color: inherit;
            }
        }
        th {
            padding: 8px;
            background-color: $p14c-blue;
            color: $white;
        }
        td {
            padding: 8px;
            ul {
                padding-left: 0;
                margin-left: 8px;
            }
        }
    }
}