.content-sub-desc, .content {
    table {
        max-width: 100%;
        display: inline-block;
        overflow-x: auto;
        padding-bottom: $spacer * 2;
        tr {
            border-bottom: 1px solid #ccc;
            &:nth-child(even) {
                background-color: inherit;
            }
        }
        th {
            padding: 8px;
            background-color: $p14c-blue;
            color: $white;
        }
        td {
            padding: 8px;
        }
    }
}